@model Book

<h2>Book details:</h2>
<h4>ID: @Model.Id </h4>
<h4>Name: @Model.Title </h4>
<h4>Author: @Model.AuthorId </h4>
<h4>Publishing House: @Model.PublishingHouseId </h4>
<h4>Fullname: @Model.GetBookFullName()</h4>
<h4>Publishing House Name: @ViewBag.PublishingHouseName</h4>