@model FeedbackViewModel

@{
   ViewBag.Title = "Feedback"; 
}

<h1>Provide feedback</h1>
@using (Html.BeginForm())
{
   <div class="row">
      <div class="col-md-6">
         <div class="input-group input-group-lg">
            <span>@Html.LabelFor(feedback => feedback.Name)</span>
            @Html.TextBoxFor(feedback => feedback.Name, 
               new { @class = "form-control" })
         </div>
      </div>
      <div class="col-md-6">
         <div class="input-group input-group-lg">
            <span>@Html.LabelFor(feedback => feedback.Email)</span>
            @Html.TextBoxFor(feedback => feedback.Email, 
               new { @class = "form-control" })
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <span>@Html.LabelFor(feedback => feedback.Message)</span>
         @Html.TextAreaFor(feedback => feedback.Message)
      </div>
   </div>
   <button class="btn btn-danger" type="submit">Submit</button>
}