@model Book


<h4><label for="Title">@Model.Title</label></h4>
<h4><label for="AuthorId">@Model.AuthorId</label></h4>
<h4><label for="PublishingHouseId">@Model.PublishingHouseId</label></h4>
@*<label for="GetBookFullName()">@Model.PublishingHouseId</label>*@
@Html.Partial("Separator")
